@using Candidates.Application.DTOs;
@model IEnumerable<CandidateDTO>

@{
    ViewData["Title"] = "Candidates List";
}

<div class="text-center">
    <h1>Candidates List</h1>
</div>
<div>
    <a class="btn btn-primary" asp-controller="candidate" asp-action="create">Add</a>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">BirtDate</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var candidate in Model){
            <tr>
                <th scope="row">@candidate.IdCandidate </th>
                <td>@candidate.Name </td>
                <td>@candidate.Surname </td>
                <td>@candidate.BirtDate.ToString("dd/MM/yyyy") </td>
                <td>@candidate.Email </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Candidate" asp-action="Update" asp-route-IdCandidate="@candidate.IdCandidate">Edit</a>
                    <a class="btn btn-primary" asp-controller="Experiences" asp-action="Details" asp-route-IdCandidate="@candidate.IdCandidate">Experiences</a>
                    <a class="btn btn-danger" asp-controller="Candidate" asp-action="Delete" asp-route-id="@candidate.IdCandidate">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
